@import 'tailwindcss';

@font-face {
	font-family: 'Comic Shanns';
	src: url('./assets/fonts/Comic Shanns.ttf') format('truetype');
}

@font-face {
	font-family: 'Excalifont';
	src: url('./assets/fonts/Excalifont Regular.woff2') format('woff2');
}

html,
body,
#app {
	block-size: 100%;
}

@theme {
	--font-sans: 'Excalifont', ui-sans, system-ui, sans-serif;
	--font-mono: 'Comic Shanns', ui-monospace, monospace;
}
